*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #08101D;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600;
}

p{
    padding-top: 15px;
    color: gray;
}

a{
    text-decoration: none;
    color: white;
}

.foot{
    padding-bottom: 130px !important;
    padding: 150px 120px 100px;
}

.kolonlar{
    display: flex;
    justify-content: space-between;

}

.footer-center{
    gap: 60px;
    padding-left: 40px;
    display: flex;
    width: 100%;
}

.fifth-column{
    padding-left: 60px;
}

.my-brand{
    margin-top: -17px;
    font-size: 20px;
}

.linkler{
    display: grid;
}

.linkler a{
    cursor: pointer;
}

.social-media{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

}

.social-media > img{
    color: gray;
    cursor: pointer;
}

.language{
    display: flex;
    padding-top: 110px;
}

.language > p{
    padding-left: 10px;
    padding-right: 10px;
}

@media(max-width:1350px){
    .foot{
        padding-bottom: 130px !important;
        padding: 150px 50px;
    }

    .footer-center{
        gap: 40px;
        padding-left: 40px;
        display: flex;
        width: 100%;
    }

    .fifth-column{
        padding-left: 40px;
    }
}

@media(max-width:1230px){
    .foot{
        padding-bottom: 130px !important;
        padding: 150px 40px;
    }

    .kolonlar{
        display: flex;
        justify-content: space-between;

    }

    .first-column > img{
        width: 200px;
    }

    .first-column p{
        font-size: 12px;
    }

    .linkler{
        display: grid;
        font-size: 12px;
    }

    .footer-center{
        font-size: 12px;
        gap: 70px;
        padding-left: 40px;
        display: flex;
        width: 100%;
    }

    .fifth-column{
        padding-left: 0px;
    }

    .my-brand{
        margin-top: -17px;
        font-size: 20px;
    }

    .social-media{
        display: flex;
        justify-content: space-between;
        padding-top: 40px;

    }

    .social-media > img{
        color: gray;
        cursor: pointer;
    }

    .language{
        display: flex;
        padding-top: 30px;
    }

    .language > p{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width:1100px){

p{
    padding-top: 15px;
    color: gray;
}

a{
    text-decoration: none;
    color: white;
}

.foot{
    display: block;
    padding: 150px 30px;
}

.kolonlar{
    display: flex;
    justify-content: space-between;
}

.my-brand{
    width: 220px;
}

.linkler{
    row-gap: 10px;
}

.first-column p, a{
    font-size: 10px;
}

.first-column{
    padding-top: 10px;
}

.footer-center{
    font-size: 17px;
    gap: 30px;
    padding-left: 25px;
    display: flex;
    width: 100%;
}

.second-column p, span, .third-column p, span, .fourth-column p, span{
    font-size: 10px;
}

.fourth-column a, span{
    font-size: 12px;
}

.fifth-column p{
    font-size: 10px;
}

.language{
    padding-top: 105px;
}

.language{
    padding-top: 50px;
}
}

@media(max-width:845px){
    .kolonlar{
        display: block;
        justify-content: space-between;
    }

    .first-column > img{
        width: 300px;
    }

    .first-column p, a{
        width: 100%;
        font-size: 17px;
    }

    .linkler{
        width: 100%;
        display: flex;
    }

    .linkler > img{
        margin-right: 15px;
        margin-top: -20px;
    }

    .footer-center{
        display: flex;
        justify-content: space-between;
        padding: 40px;
    }

    .second-column p, span, .third-column p, span, .fourth-column p, span{
        font-size: 15px;
    }

    .fifth-column p, a{
        width: 100%;
        font-size: 17px;
    }

    .fifth-column span{
        width: 100%;
        font-size: 22px;
    }

    .social-media{
        padding-top: 60px;
    }

    .language{
        padding-top: 60px;
    }

}

@media(max-width:576px){

    .foot{
        padding-bottom: 130px !important;
        padding: 50px 20px 0px;
    }

    .first-column p, a{
        width: 100%;
        font-size: 12px;
    }

    .linkler{
        display: flex;
        width: 100%;
        margin-left: 0px;
        padding-top: 20px;
    }

    .linkler img{
        margin-right: 5px;
        width: 10px;
    }

    .linkler a{
        margin-top: -10px;
        padding-right: 5px;
        padding-left: 5px;
        font-size: 8px;
    }

    .footer-center{
        gap: 14px;
        padding: 40px 0px 10px 0px;
    }

    .footer-center span{
        font-size: 12px;
    }

    .footer-center p{
        font-size: 10px;
    }

    .fifth-column{
        padding-top: 20px;
    }

    .fifth-column span{
        font-size: 14px;
    }

    .fifth-column p{
        font-size: 10px;
    }

    .social-media, .language{
        padding-top: 25px;
    }
}